/*общие настройки для всего документа*/
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: auto;
  min-height: 150px;
  padding: 0;
  min-width: 420px;
  max-width: 960px;
  background-color: #f6f5f3;
}
a:link,
a:visited {
  color:#4588BD;
  outline: 0;
  text-decoration: none;
}
a:hover{
  opacity: 0.4;
}
p{
  margin: auto;
}

/*стили заголовка*/
.modal-header {
  align-items: center; /*выравнивание элементов по центру*/
  border-bottom: 0.5px solid #dadada; /*нижняя разделительная линия*/
  height: 40px;
  background-color: #ffffff;
}
h1 {
  font-family: 'Menlo', monospace;
  font-size: 22px;
  font-weight: 400;
  color: #2f5876;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.version {
  color: #444;
  font-size: 18px;
}

/*стили описания*/
.modal-content {
  text-align: center;
  background-color: #ffffff;
}

/*стили логотипа*/
.logo-icon {
  width: 30px; /*ширина изображений*/
  vertical-align:middle; /*выравнивание по нижней части текста*/
}

/*стили интерфейса*/
.modal-interface {
  border-top: 0.5px solid #dadada; /*свойства верхней разделительной линии*/
  background-color: #ffffff;
}
.flex-container {
  display: flex;
  padding: 10px;
  margin: auto;   
  justify-content: center;
  border-bottom: 0.5px solid #dadada; /*свойства нижней разделительной линии*/
}
/*задаём настройки для контейнеров с элементами управления*/
.flex {
  padding: 0 10px;
}
.uibtn {
  opacity: 1;
}
.uibtn:hover {
  opacity: 0.4; /*уровень непрозрачности при наведении курсора на элемент*/
}

#qa {
  text-align: center;
  background-color: #ffffff;
}